# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
CHGCAR*
*.png
src/config.h
src/den2obj.pc

# do not save doc build
docs/_build/
docs/userguide/build*

# VSCODE
.vscode
